
.left-text h3 {
    font-size: 18px;
    color: #000000;
    font-family: system-ui;
    font-weight: 500;
}
.right-text h3 {
    font-size: 18px;
    color: #000000;
    font-family: system-ui;
    font-weight: 500;
}
.left-text p {
    color: #2a2a2a;
    font-style: italic;
    font-family: system-ui;
    font-weight: 100;
}
.right-text p {
    color: #2a2a2a;
    font-style: italic;
    font-family: system-ui;
    font-weight: 100;
}
h3.dashboard-heading {
    color: #37474f;
    font-size: 19px;
}
.bg-bg-clr {
    background-color: #fff;
    padding: 11px 12px;
    border-top: 3px solid #8cddcd;
}


.content-box {
    border-top: 2px solid #8cddcd;
    height: 393px;
    overflow-y: scroll;
    padding: 19px 10px;
    border-radius: 3px;
    background: white;
}
.content-box p {
    font-family: sans-serif !important;
    font-style: normal !important;
    color: black !important;
}
.right-content-box {
    border-top: 2px solid #8cddcd;
    height: 393px;
    overflow-y: scroll;
    padding: 19px 10px;
    border-radius: 3px;
    background: white;
}
input.largerCheckbox {
    width: 40px;
    height: 40px;
}
input[type="checkbox"] {
    width: 28px;
    height: 28px;
}
::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background: #8cddcd; 
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #32a6b88c; 
  }
  a {
    color: #8cddcd;
    text-decoration: none;
    background-color: transparent;
}
