
<div class="row mx-0 mt-5 align-item-center">
  <div class="col-md-6  ">
    <div class="left-text ">
      <div class="bg-bg-clr mb-3">
        <h3>Ask Us</h3>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s
        </p>
      </div>
     
      <div class="content-box">
        <p>
          Contrary to popular belief, Lorem Ipsum is not simply random text.
          making it over 2000 years old. <br />
          Me:Wells Fargo<br />
          system: Compare,volume.action,year?<br />
          me:volume<br />
          system:$ amount,count of loans?<br />
          me:Count<br />
          system: By year,action,factor<br />
          Me:Wells Fargo<br />
          system: Compare,volume.action,year?<br />
          me:volume<br />
          system:$ amount,count of loans?<br />
          me:Count<br />
          system: By year,action,factor<br>
        </p>
        <button class="btn btn-primary ml-5"><a href="https://help.tableau.com/current/api/embedding_api/en-us/index.html" target='_blank'>Open</a></button>
      </div>
    </div>
  </div>
  <div class="col-md-6 ">
    <div class="right-text pb-5 ">
      <div class="bg-bg-clr mb-3">
        <h3>Dashboards</h3>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s
        </p>
      </div>
    
      <div class="right-content-box">
        <div class="d-flex align-item-center">
          <span>Dashboard old 1 </span>
          <div class="ml-5">

          <input
            type="checkbox"
            aria-label="Checkbox for following text input"
          />
          </div>
          <button class="btn btn-primary ml-5">Open</button>
        </div>
        <div class="d-flex align-item-center mt-5">
          <span>Dashboard old 1 </span>
          <div class="ml-5">
            <input type="checkbox"
              aria-label="Checkbox for following text input">
          </div>
          <button class="btn btn-primary ml-5">Open</button>
        </div>
      </div>
    </div>
  </div>
</div>

