
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto btn-bg">
            <li class="nav-item ">
              <a class="nav-link m-0" (click)="router()">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link">Who We Are</a>
            </li>
            <li class="nav-item">
              <a class="nav-link">What We Do</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">Our Technology</a>
              </li>
          </ul>
          <span class="navbar-text">
            <i class="fa fa-user" aria-hidden="true"></i>
          </span>
        </div>
      </nav>

