.main-nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    border-bottom: 2px solid #585757;

}
.set-button {
    display: flex; 
    justify-content: space-between;
    width: 40%;
}
.set-button button {
    background: white;
    border: 1px solid;
    box-shadow: 1px 1px 1px 1px black;
}